* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* https://mycolor.space/gradient3 */
    animation: gradient 10s ease-in-out infinite;
    background: linear-gradient(
            to right top,
            #d16ba5,
            #c777b9,
            #ba83ca,
            #aa8fd8,
            #9a9ae1,
            #8aa7ec,
            #79b3f4,
            #69bff8,
            #52cffe,
            #41dfff,
            #46eefa,
            #5ffbf1
        )
        50% / 400% 400%;
}

.header {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 50px;
    color: aliceblue;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 50%;
    }

    100% {
        background-position: 0%;
    }
}
