* {
    box-sizing: border-box;
}

body {
    background-color: #dcf5ff;
    margin: 0;
    padding: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
}

.card {
    border-radius: 20px;
    box-shadow: 0 5px 15px -4px #000;
    height: 400px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 250px;
}

.card__image {
    background: no-repeat 50% / cover;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.2s ease-in-out;
}

.card__image--1 {
    background-image: url("https://images.pexels.com/photos/3565601/pexels-photo-3565601.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}

.card__image--2 {
    background-image: url("https://images.pexels.com/photos/1122639/pexels-photo-1122639.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}

.card__image--3 {
    background-image: url("https://images.pexels.com/photos/3750768/pexels-photo-3750768.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}

.card__text-container {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    opacity: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(0.8);
}

/* Hover */

.card:hover .card__image {
    transform: scale(1.05);
}
.card:hover .card__text-container {
    opacity: 1;
    transform: scale(1);
}
