:root {
    --primary: #25abd9;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.section {
    align-items: center;
    background: #dcf5ff no-repeat 50% / cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.section:nth-of-type(even) {
    background-color: #eee;
}

.loading > div {
    background-color: var(--primary);
}

/* Individual Styles */

/* Circles */
.loading__circle {
    animation: circle 2s ease-in-out infinite;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    opacity: 0.7;
    position: absolute;
}
.loading__circle--2 {
    animation-delay: 1s;
}

/* Bars */
.loading--2 {
    display: flex;
    width: 60px;
    justify-content: space-between;
}

.loading__bar {
    animation: bar 1s ease-in-out infinite;
    height: 60px;
    width: 8px;
    opacity: 0.7;
}

.loading__bar--2 {
    animation-delay: 0.2s;
}

.loading__bar--3 {
    animation-delay: 0.4s;
}

.loading__bar--4 {
    animation-delay: 0.6s;
}

.loading__bar--5 {
    animation-delay: 0.8s;
}

/* Dots */
.loading__dot {
    animation: dots 1.5s ease-in-out infinite;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.loading--3 {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.loading__dot--2 {
    animation-delay: 0.2s;
}

.loading__dot--3 {
    animation-delay: 0.4s;
}

/* Dots Sweep */
.loading__dot-sweep {
    animation: dotsSweep 2s ease-in-out infinite;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.loading__dot-sweep--2 {
    animation-delay: 0.1s;
}

.loading__dot-sweep--3 {
    animation-delay: 0.2s;
}

.loading__dot-sweep--4 {
    animation-delay: 0.3s;
}

.loading__dot-sweep--5 {
    animation-delay: 0.4s;
}

.loading--4 {
    display: flex;
    justify-content: space-between;
    width: 150px;
}
/* Keyframes */

@keyframes circle {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes bar {
    0% {
        transform: scaleY(0.5);
    }

    25% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(0.5);
    }
}

@keyframes dots {
    0%,
    80%,
    100% {
        opacity: 0;
        transform: scale(0);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes dotsSweep {
    0%,
    20% {
        opacity: 0;
        transform: translateX(-400%);
    }
    30%,
    70% {
        opacity: 0.75;
        transform: translateX(0);
    }
    80%,
    100% {
        opacity: 0;
        transform: translateX(400%);
    }
}
